@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:not(i){
    font-family: 'Poppins', sans-serif;
}
:root{
    --main: #ae9cff;
    --white: #fff;
    --grey: #575a7b;
}
body{
    background: #8ec5fc;
}
.main{
    padding: 80px 50px;
    width: 85vmin;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    background: var(--white);
    box-shadow: 0 20px 40px rgba(38,33,61,0.2);
}
.search-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.search-box input{
    padding: 5px;
    width: 70%;
    border: none;
    outline: none;
    border-bottom: 3px solid var(--main);
    font-size: 16px;
}
.search-box input::selection{
    color: var(--white);
    background: #fe95e7;
}
.search-box button{
    padding: 15px 0;
    width: 26%;
    background-color: var(--main);
    border: none;
    outline: none;
    color: var(--white);
    border-radius: 6px;
}
.search-box button:hover{
    cursor: pointer;
}
.result{
    position: relative;
}
.result h3 {
    font-size: 30px;
    color: #1f194c;
}
.result .word{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.result button{
    color: #000;
    border: none;
    outline: none;
    font-size: 20px;
    background: transparent;
    opacity: 0.2;
    transition: all 200ms ease;
}
.result button:hover{
    opacity: 1;
}
.result .details{
    display: flex;
    gap: 10px;
    color: #b3b6d4;
    margin: 5px 0 20px 0;
    font-size: 14px;
}
.word-meaning{
    color: var(--grey);
}
.word-example{
    color: var(--grey);
    font-style: italic;
    border-left: 5px solid var(--main);
    padding-left: 20px;
    margin-top: 30px;
}
.error{
    margin-top: 80px;
    text-align: center;
}
::selection{
    color: var(--white);
    background: var(--main);
}
